:root {
	--gap : 3rem;
}

.layout {
	display: grid;
	grid-template-areas: 
		"header header header"
		"main main main"
		"footer footer footer";
	grid-template-rows: 100px calc(100vh - 246px) 50px;
}

.grid-header{
	grid-area: header;
}

.grid-main {
	grid-area: main;
}

.grid-footer {
    grid-area: footer;
}