* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

body {
  font-family: Verdana, Arial, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-image: url(../img/Plano-de-fundo-2.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

ul {
  list-style: none;
}

.mt {
  margin-top: 50px;
}

.navbar-toggler {
  margin-left: 5px;
}

.navbar-nav .nav-link {
  padding-left: 5px;
}

.content {
  width: 83%;
  height: auto;
  float: right;
  margin-top: 20px;
}

.progresso-content {
  width: 1100px;
  height: auto;
  padding: 5px 0;
  border-radius: 6px;
  margin: 20px auto 24px auto;
  background-color: #fff;
}

.noticias-content {
  width: 1100px;
  height: auto;
  padding: 5px 0;
  border-radius: 6px;
  margin: 20px auto 24px auto;
  background-color: #fff;
}

.noticiaBrasil-content {
  width: 1100px;
  height: 920px;
  padding: 5px 0;
  border-radius: 6px;
  margin: 20px auto 24px auto;
  background-color: #fff;
}

.covid-content {
  background: #ffff;
  border-radius: 6px;
}

.coronavirus {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

aside {
  width: 200px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 1px solid #fff;
  float: left;
}

.clear {
  clear: both;
}

.active {
  font-weight: bold;
}

.logotipo {
  width: 90px;
  height: 90px;
  float: left;
}

.numMortos {
  color: red;
  margin: 0 auto;
}

.card {
  width: 235px;
  height: 315px;
}

.card a {
  text-decoration: none;
}

.card-image img {
  width: 100%;
  height: 175px;
}

.card-text {
  padding: 2px;
  font-size: 16px;
  color: #000;
}

.nav-link,
#estadosLista .nav-link,
.regioesLista .nav-link,
.footer-information .nav-link {
  font-size: 15px;
  text-transform: uppercase !important;
}

.heading-style a {
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
}

.heading-style a:hover,
.navbar .collapse .navbar-nav .nav-item a:hover,
.card-text:hover,
#estadosLista .nav-link:hover,
.regioesLista .nav-link:hover,
.footer-information .nav-link:hover {
  color: #1baa0e;
}

.collapse .nav-link:hover {
  color: #1baa0e;
  background-color: #ebecec;
}

.navbar-toggler {
  margin-left: 5px;
}

.navbar-nav .nav-link {
  padding-left: 5px;
}

.custom-title {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}

.estados,
.regioes {
  margin-bottom: 20px;
  color: #1baa0e;
}

.estados .nav-link,
.regioes .nav-link {
  font-weight: bold;
  color: #fff;
}

footer {
  margin-top: 20px;
  color: #fff;
}

footer p {
  padding-top: 5px;
}

/* --------------------- Página COVID-19  --------------------- */
.covid-link {
  width: 300px;
  height: 100px;
  text-transform: uppercase;

  display: table-cell;

  vertical-align: middle;
  background: #ffff;
}

.covid-card {
  margin-bottom: 5px;
}

.covid-option {
  width: 100%;
  font-size: 16px;
  font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  padding: 20px;
}

.covid-option ul {
  list-style: inside;
}

.covid-option ul li {
  padding-top: 5px;
}

.font-h6 {
  margin-top: 1em;
}

/* --------------------- Página PROGRESSO  --------------------- */
.banner {
  width: 1100px;
  height: 320px;
  margin: 0 auto 200px auto;
  text-align: center;
}

.banner img {
  width: 800px;
  height: 400px;
}

.font-h3 {
  padding: 10px;
  color: #1baa0e;
}

.date {
  font-size: 16px;
  padding: 0 0 0 10px;
  color: #1baa0e;
  text-decoration: underline;
}

.progresso-text p,
.noticias-text p,
.noticiaBrasil-text p {
  font-family: 'Cantata One', serif;
  font-size: 24px;
  padding: 0 10px 0 10px;
  text-align: justify;
}

@media (min-width: 972px) and (max-width: 1233px) {
  aside {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .card {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 721px) and (max-width: 971px) {
  aside {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .card {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 720px) {
  aside {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .navbar {
    width: 100%;
  }

  .card {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  aside {
    display: none;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .navbar {
    width: 100%;
  }

  .card {
    width: auto;
    margin-bottom: 10px;
  }
}
