@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quicksand:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Quicksand', Arial, sans-serif;
  font-size: 1.2em;
}

img{
  width: 100%;
  height: auto;
}

.navbar-toggler-icon{
  color: #000;
}

.brand{
  padding-left: 10px;
  width: 80px;
}

.nav-link{
  color: #454545;
}

.nav-link:hover{
  text-decoration: underline;
  color: #454545;
}

/* ----------------- THUMBNAIL -----------------  */
.thumbnail{
  margin: 0 auto;
  height: 400px;
  position: relative;
}

.thumb-image {
  width: 100%;
  height: 100%;
  background:#fff url(img/background.png) no-repeat;
  background-size: cover;
  background-position-y: -200px;
}

.thumb-text{
  position: absolute;
  bottom: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.thumb-text:hover{
  
  text-decoration: underline;
}

/* ----------------- MELHORES OFERTAS -----------------  */
.main-container{
  max-width: 1320px;
}

.offer-box{
  max-width: 260px;
  min-width: 200px;
  height: 400px;
  margin-bottom: 30px;
}

.offer-box a{
  text-decoration: none;
}

.offer-image{
  width: auto;
  height: 300px;
  text-align: center;
}

.calcado-container .offer-image:hover{
  background-color: #e9e9e9dc;
}

.offer-image:hover{
  background-color: #544444b6;
}

.offer-image .img-fluid{
  width: auto;
  height: 100%;
}

.offer-info{
  padding-left: 10px;
  color: #000;
}

.title{
  padding-top: 5px;
}

/* --------- FOOTER ----------- */
footer{
  text-align: right;
  font-size: 1.5rem;
  background-color: #f8f8f8;
}


@media (max-width: 991.9px){
  
  .offer-box{
    height: 100%;
  }

  .offer-image{
    height: auto;
  }

  .thumb-image {
  background:#fff url(img/background.png) no-repeat;
  background-size: cover;
}
}

@media (max-width: 768.9px){
  .melhoresOfertas, .vestidos-container{
    width: 100%;
  }

  .offer-box{
    width: 60%;
    text-align: center;
    margin: 20px auto;
  }
}