*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{text-decoration: none;}

ul{list-style: none;}

img{width: 100%; height: 100%; object-fit: contain;}

.container{
    width: 1100px;
    max-width: 90%;
    margin: 0 auto
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    background: #178FD0;
    position: relative;
}

.mobile-btn-menu{
    position: absolute;
    top: 10%;
    right: 1%;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 4px 10px;
    cursor: pointer;
    display: none;
    z-index: 5;
}

.mobile-btn-menu:hover{
    background-color: #138cced2;
    color: #fff;
}

.brand{
    width: 300px;
    height: 100%;
    background: #fff;
}

.navbar .nav li.nav-item{
    display: inline-block;
    padding: 10px;
}

.navbar .nav a.nav-link{
    color: #fff;
    font-size: 0.9rem;
}

.navbar .nav .nav-link:hover{
    text-decoration: underline;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: center;
    margin-top: 20px;
}


header .header-title{
    color: #1390d3;
    font-size: 3.2rem;
    display: block;
}

header .input-url{
    width: 70%;
    height: 40px;
    border: none;
    outline: 1px solid #000;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 0;
}

header .btn{
    font-size: 1.6rem;
    padding: 12px 20px;
    border: none;
    background: #1390d3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

header .btn:hover{
    background: #0e9ce9;
}

main{
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main .feature h4{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

main .feature p{
    text-align: justify;
    font-size: 1.2rem;
    color: #555;
}

main .guide-area{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 30px;
    gap: 30px;
}

main .guide-area .instruction h4, main .guide-area .resources h4{
    font-size: 1.3rem;
}

main .guide-area .instruction ul{
    list-style: decimal;
    margin-left: 15px;
}

main .guide-area .resources ul{
    list-style: disc;
    margin-left: 15px;
}

main .guide-area li{font-size: 1.1rem; color: #555;}

main .information-area{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 25px;
    align-items: center;
    text-align: center;
}

main .information-area .block-info{
    width: 100%;
    min-width: 330px;
    height: 200px;
    font-size: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 20px 0;
    margin: auto;
}

main .information-area .block-info i.fa-solid{
    font-size: 2.8rem;
    color: #CC0000;
}

main .information-area .block-info h4, i,p{
    margin-top: 8px;
}

footer{
    padding:60px 0;
    width: 100%;
    text-align:center;
    font-size: 1.1em;
}

@media (max-width: 920px){

    .container{max-width: 100%;}

    header{padding-top: 130px;}

    main .guide-area{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    main .information-area{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;
    }

    main .information-area .block-info{
        width: 100%;
    }
    
    .brand{display: block; width: 100%;}

    .nav{
        position: absolute;
        top: 0;
        left: -300%;
        background-color: #178FD0;
        width: 250px;
        height: 23vh;
        transition: 0.4s all;
    }

    .nav.active{left: 0%;}

    .navbar .nav li.nav-item{
        display: block;
    }

    .mobile-btn-menu{
        display: block;
    }
}


@media (max-width: 520px){
    .navbar .nav{
        width: 100%;
    }
}
